name: "integrity"

on:
  pull_request:
    paths: ["**", "!**.md"]

jobs:
  version:
    runs-on: "ubuntu-24.04"
    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v4"
        with:
          fetch-depth: 0
      - name: "Check if image version is available to publish"
        run: './bin/check_version_is_free "$(jq -r ''.version'' package.json)"'
  integrate:
    runs-on: "ubuntu-24.04"
    environment: ci
    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v4"
      - name: "Setup Node.js"
        uses: "actions/setup-node@v4"
        with:
          node-version: "24.x"
      - name: "Install dependencies"
        run: npm ci
      - name: "Check code formatting"
        run: npm run format
      - name: "Check code style"
        run: npm run lint
      - name: "Check astro configuration"
        run: npm run astro check
      - name: "Check if app builds"
        run: npm run build --if-present
